dist/**/*.test.*
dist/testHelpers/
docs/
examples/
scripts/
src/
.eslintrc.json
.gitignore
.idea
.npmignore
.npmrc.template
.nvmrc
.travis.yml
CONTRIBUTING.md
README.md
tsconfig.json
tslint.json
yarn.lock
yarn-error.log